.boardSection{
  border-radius:  0px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 6px 1px rgba(232, 232, 232, 0.50);
  min-height: 100vh;
  padding: 16px;
  transition: all 0.3s ease-in-out;

  &.firstSection{
    background: linear-gradient(to right, #F7EFE9, #E5E5DC);
  }
  &.secondSection{
    background: linear-gradient(to right, #E2E3DA, #D0D9CC);
  }
  &.thirdSection{
    background: linear-gradient(to right, #CBD6C9, #B9CCBC);
  }

  .boardHeader{
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 36px;
    text-align: center;
    text-align-last: center;
    gap: 8px;
    justify-content: center;

    .icon{
      svg{
        fill: #25292f;
        width: 24px;
        height: 24px;
      }

    }

    .title{
      color: #25292f;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0px;
    
    }
  }

  .newCardButton{
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    //border: dashed 1px #1E1E1E;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;   
    width: 100%;
    margin: 0px;
    box-shadow: 0px 0px 6px 1px rgb(195 195 195);
  /*   &:hover{
      background-color: #f3f3f3;
      box-shadow: 0px 0px 6px 1px rgba(232, 232, 232, 0.50);

      svg{
        transition: all 0.3s ease-in-out;
        transform:scale(1.3);
      }
    } */

    .addArea{
      padding: 0px;
      transition: all 0.3s ease-in-out;

      &.webArea{
        border-radius: 8px 0px 0px 8px;

      }
      &.mobileArea{
        border-radius: 0px 8px 8px 0px;
      }
      p {
        margin: 14px;
        display: flex;
        justify-content: center;
        font-family: 'Nunito Sans', sans-serif;
        color: #212529;
        font-size: 14px;
      }
      &:hover{
        background-color: #f3f3f3;
      }
    }
    
  }
   .newCardButton .addArea:not(:last-child) { 
      border-right: #adb5bd solid 2px;
  }
 
  .vertical-divider {
    border-left: 1px solid #ccc;
    height: 100%;
  }

  .isHoverCard{
    opacity: 1;
    pointer-events: all;
  }
}

