.filterContainer{
  position: absolute;

  .filterButtons{
    gap: 8px;
    display: flex;
    flex-direction: column;

    .filterButton{
      display: flex;
      align-items: center;
      gap: 8px;
      margin-left: 24px;
      transition: all 0.3s ease-in-out;

      &:hover{
        transform: scale(1.1);
      }
      cursor: pointer;

      .circle{
        width: 20px;
        height: 20px;
        border-radius: 50px;
      }
      
      .filterName{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

      }
    }
  }
}