body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*   background: #F0F2F8;
 */  background: #D8D8D8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-font: 'Nunito Sans', sans-serif;
/*   
--web-color: #707F9E;
--web-color: #7884a2;
*/ 
--web-color: #525c74;


/*   

--mobile-color: #EACDA3;
--mobile-color: #cfa66b;
--mobile-color: #ffe0b4;

*/  
--mobile-color: #d0ac78;



  
  

  --primary-color: #1E1E1E;
  --secondary-color: #212529;

}