.card{
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease-in-out;

  &.web{
    background: var(--web-color);
  }
  &.mobile{
    background: var(--mobile-color);
  }

  .cardTitle{
    color: var(--primary-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 0px;
  }
}


.bodyWrapper{
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 18px;
  min-height: 64px;

  textarea:focus, textarea:hover{
    //border-bottom: 1px solid #244614;
  }

  &.isEmpty{
    background: transparent;
  }

  textarea{
    border: 0;
    border-bottom: 1px solid #ffffff00;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    resize: none;
    transition: border-bottom 350ms ease;
    width: 100%;
    padding: 0px 0px;
    overflow: hidden;
    align-self: center;
    color: #1E1E1E;
    &.hover{
      border-bottom: 1px solid #244614;
    }


  }

  &.name textarea{
    padding: 0px 0px;
    color: #244614;
    font-family: 'Amiko', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}


.actions{
  position: absolute;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 0;
  right: 0px;

  height: 100%;
  justify-content: space-between;

  &.hover{
    opacity: 1;
  }
  .action{
    display: flex;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
    display: flex;
    gap: 8px;
    align-items: center;
    background: #3f3f3f91;
    border-radius: 0px 8px 0px 12px;
    height: 100%;
    place-content: center;
    &:hover{
      background: #3f3f3fea;
      svg{
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
    }
    &.rotateIcon{
      border-radius: 0px 8px 0px 0px;
      width: 32px;
      svg{
        fill: #ffffff;
      }
    }
    
    &.deleteIcon{
      border-radius: 0px 0px 8px 0px;
      width: 32px;
   
    }
    p{
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  } 
}

