.card{
  border-radius: 8px;
  //padding: 18px;
  position: relative;

  &.web{
    background: #A9C7AA;
  }
  &.mobile{
    background: #F0C987;
  }

  .cardTitle{
    color: #1E1E1E;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 0px;
  }

}


.actions{
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 24px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 0;
  right: 0px;

  &.hover{
    opacity: 1;

  }
  .action{
    display: flex;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
    display: flex;
    gap: 8px;
    align-items: center;

    background: #f9394b;
    border-radius: 0px 8px 0px 12px;

    &:hover{
      background: #c41728;
      svg{
        transition: all 0.2s ease-in-out;

        transform: scale(1.1);
      }
    }
    p{
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  } 
}


.bodyWrapper{
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 18px;

  textarea:focus, textarea:hover{
    border-bottom: 1px solid #244614;
  }

  &.isEmpty{
    background: transparent;
  }

  textarea{
    border: 0;
    border-bottom: 1px solid #ffffff00;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    resize: none;
    transition: border-bottom 350ms ease;
    width: 100%;
    padding: 0px 0px;
    overflow: hidden;
    align-self: center;
    &.hover{
      border-bottom: 1px solid #244614;
    }
  }

  &.name textarea{
    padding: 0px 0px;
    color: #244614;
    font-family: 'Amiko', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &.description textarea{
  }
  &.ingredients textarea{
  }
  &.instructions {
    align-items: center;
    width: 100%;
    textarea{
    }
  }
}
