.home{
  background: #F0F2F8;
  .homeHeader{
    position: fixed;

    .homeTitle{
      color: #1E1E1E;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 180px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -9px;
      margin-top: 20px;
      margin-left: 20px;
      //position: fixed;
      z-index: 1;
    }
  }
}